<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dadolun\CategoryImport\Api\CategoryImportInterface" type="Dadolun\CategoryImport\Model\Importer\Category" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ImportCategoriesCommand" xsi:type="object">Dadolun\CategoryImport\Console\Command\ImportCategories</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Dadolun\CategoryImport\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">var/log/category-import.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dadolun\CategoryImport\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Category Import Log</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Dadolun\CategoryImport\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Dadolun\CategoryImport\Cron\ImportCategories">
        <arguments>
            <argument name="logger" xsi:type="object">Dadolun\CategoryImport\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Dadolun\CategoryImport\Model\Config\Reader">
        <arguments>
            <argument name="fileName" xsi:type="string">category_import.xml</argument>
            <argument name="converter" xsi:type="object">Dadolun\CategoryImport\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Dadolun\CategoryImport\Model\Config\SchemaLocator</argument>
        </arguments>
    </type>
</config>
