<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dadolun" translate="label" sortOrder="400">
            <label>Dadolun</label>
        </tab>
        <section id="dadolun" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Category Import</label>
            <tab>dadolun</tab>
            <resource>Dadolun_CategoryImport::config</resource>
            <group id="category_import" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Import General Configuration</label>
                <field id="cron_schedule" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron Schedule</label>
                </field>
                <field id="csv_path" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Csv path for uploaded file</label>
                </field>
                <field id="csv_delimiter" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Csv delimiter on csv file</label>
                </field>
            </group>
        </section>
    </system>
</config>
